.list-wrapper {
  margin: 0 auto;
  width: 400px;
  .item-wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(251, 225, 251);
    &:nth-child(odd) {
      background-color: rgb(206, 206, 255);
    }
    margin-bottom: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    .user-age {
      margin-left: 40px;
    }
  }
}
