* {
  box-sizing: border-box;
}

.app {
  width: 600px;
  margin: 0 auto;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: translateY(150px);
}
